/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.search-box button {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .navbar .nav-links a {
    flex-direction: column;
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .search-box {
    display: none;
  }
}
/* Hero Section */
.hero {
  text-align: center;
  padding: 50px;
  background-color: #05181a;
  color: white;
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: #555;
}
.car-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.car-item {
  background: white;
  background-image: url(https://imgs.search.brave.com/ryu3YjPKMyDtUy6yZv6kn14hz8awHuvbnA5BurfDWKY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zcHlu/ZS1zdGF0aWMuczMu/YW1hem9uYXdzLmNv/bS9BSS10b29scy9i/YWNrZ3JvdW5kK3Jl/cGxhY2VtZW50L2Fm/dHJycisxLndlYnA);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.car-item:hover {
  box-shadow: 0 0 20px black;
}
.add-to-cart {
  padding: 10px 30px;
  background-color: #218838;
}

.add-to-cart:hover {
  background-color: #218838;
}
